<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groq Chatbot</title>
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <link rel="stylesheet" href="/static/css/navbar.css">
</head>

<body>

{% include "navbar.html" %}


<div class="main">
<div class="container">
    <div id="chat-box"></div>
    
    <div class="input-area">
        <input type="text" id="message" placeholder="Type..." />
        <button onclick="sendMessage()">Send</button>
    </div>
</div>
</div>

<script>
async function sendMessage() {
    const input = document.getElementById("message");
    const chatBox = document.getElementById("chat-box");

    const msg = input.value;

    chatBox.innerHTML += `<div class="chat user">
        <div class="bubble">
        You: ${msg}
        </div>
        </div>`;
    input.value = "";

    const res = await fetch("/chat", {
        method: "POST",
        headers: {"Content-Type": "application/json"},
        body: JSON.stringify({message: msg})
    });

    const data = await res.json();

    chatBox.innerHTML += `<div class="chat bot">
        <div class="bubble">
        Bot: ${data.response}
        </div>
        </div>`;
    chatBox.scrollTop = chatBox.scrollHeight;
}

window.onload = async () => {
    const res = await fetch("/chat_history");
    const data = await res.json();
    
    const chatBox = document.getElementById("chat-box");
    data.history.forEach(item => {
        if (item.role === "user") {
            chatBox.innerHTML += `<div class="chat user">
                <div class="bubble">
                You: ${item.content}
                </div>
                </div>`;
        } else if (item.role === "assistant") {
            chatBox.innerHTML += `<div class="chat bot">
                <div class="bubble">
                Bot: ${item.content}
                </div>
                </div>`;
        }
    });

    chatBox.scrollTop = chatBox.scrollHeight;
}
</script>

</body>
</html>